html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px; /* redundant */
    font-family: Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: underline;
        cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

div {
    border: 0px;
    float: left;
    height: auto;
    margin: 5px;
}

table {
    /*float: left;*/
    border-collapse: collapse;
    margin: 1px;
    border: #777 solid 1px;
}


td, th {
    font-size: 0.8em;
    width: 120px;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 120px;
    border: #aaa solid 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#links {
    position: absolute;
    right: 10px;
}

#tables-div td {
    background-position: 2px;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    text-align: left;
    /*color: inherit;*/
    /*display: block;*/
}

.team-selected {
    color: blue;
}

.greyed {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
    opacity: 0.4;
}

.dont-touch {
    pointer-events: none;
    cursor: not-allowed;
}

#tables-div {
    width: 600px;
    min-width: 600px;
    float: left;
}

#pots-div table {
    float: left;
}

#groups-div table {
    float: left;
}


/** new line */
#groups-div table:nth-child(5) {
    clear: both;
    float: left;
    position: relative;
}

#groups-div table:nth-child(n+5) {
    background-color: #eef
}

#groups-div table:nth-child(-n+4) {
    background-color: #fee
}


#matchups {
    border-collapse: collapse;

}

#matchups tr {
    background-color: white;
    border: #aaa solid 1px;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}

#matchups td:first-child {
    border-right-color: rgba(0,0,0,0);
}

#matchups td:nth-child(2) {
    text-align: center;
    width: 20px;
    border-right-color: rgba(0,0,0,0);
}

/*#matchups td:nth-child(2):before {
    content: "v";    
}*/

#bowls-div {
    float: left;
    width: 50%;
    min-width: 300px;
    text-align: center;
}

#announcement {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bowl {
    text-align: center;
    width: 400px;
    /*height: 300px;*/
    /*margin-left: 50px;*/
}

.ball {
    float: left;
    width: 60px;
    height: 60px;
    /*vertical-align: middle;*/
    text-align: center;
    border-radius: 100%;
    padding: 10px;
    font-size: 0em;
    text-overflow: ellipsis;
    font-family: 'Arial Narrow', 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#team-bowl .ball {
    background: radial-gradient(#fff, #004);
}

#group-bowl .ball {
    background: radial-gradient(#004, #002, #002);
}

#team-bowl .ball:hover, #group-bowl .ball:hover {
    background: radial-gradient(#ccf, #ccf);
}

#team-bowl .ball-picked, #group-bowl .ball-picked {
    background: radial-gradient(#447, #447);
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

.fake-cell {
    animation: blue2black 300ms normal forwards;
}

@keyframes blue2black {
    from { color: #00f }
    to { }
}

.possible-group {
    background-color: rgba(255, 255, 255, 0.75);
    animation: border-glow 1s ease;
    border-style: double;
    border-color: #789;
}

@keyframes border-glow {
    from {     
        background-color: white;
        box-shadow: 0 0 20px #bcd;
    }
    to {}
}

.picked-group, .draw-finished {
    font-size: 2em;
    vertical-align: middle;
}

.picked-group {
    animation: disappear 0.5s normal forwards;
    animation-delay: 1.5s;
}

@keyframes disappear {
    from { opacity: 1 }
    to { opacity: 0 }
}

.team-emerge {
    animation: appear 5s normal forwards;
}

@keyframes appear {
    from { background-color: #ff8 }
    to {}
}
