.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 999px) {
    justify-content: center;
  }
}

.team-ball {
  cursor: pointer;
  background: radial-gradient(#fff, #004);

  &.selected {
    background: #004;
  }

  &:not(.selected) {
    &.not-selected {
      background: #ddd;
    }
  }

  &.no-hover {
    cursor: not-allowed;
  }

  &:not(.no-hover):hover {
    background: radial-gradient(#ccf, #ccf);
  }
}
