.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (width <= 999px) {
    justify-content: center;
  }
}

.team-ball {
  cursor: pointer;
  background: radial-gradient(#fff, #004);

  &.selected {
    background: #004;
  }

  &:not(.selected) {
    &.not-selected {
      background: #ddd;
    }
  }

  &.no-hover {
    cursor: not-allowed;
  }

  &:not(.no-hover):hover {
    background: radial-gradient(#ccf, #ccf);
  }

  &.responsive {
    --margin: 2px;

    overflow: hidden;
    margin: var(--margin);
    width: calc(100% / var(--num-balls) - var(--margin) * 2) !important;
    height: initial;
    aspect-ratio: 1 / 1;
  }
}
