.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (width <= 999px) {
    justify-content: center;
  }
}

.group-ball {
  &:not(.no-hover):hover {
    background: radial-gradient(#ccf, #ccf);
  }
}
