.root {
  border-radius: 3px;
  border: var(--border);
  background-color: light-dark(white, #246);
  color: light-dark(black, white);
  font-weight: normal;
  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: light-dark(rgb(0 0 0 / 0.5), rgb(255 255 255 / 0.5));
  }

  &:not([aria-disabled='true']):hover {
    background-color: light-dark(white, #468);
    border-color: light-dark(black, var(--border));
  }
}
