.root {
  --background-width: calc(1em * 4 / 3);

  padding-left: calc(var(--background-width) + 0.25em);
  background-position-y: center;
  background-size: var(--background-width);
  background-repeat: no-repeat;

  @media (width <= 999px) {
    --background-width: 1rem;
  }
}
