:root {
  --cell-height: round(down, clamp(15px, calc(100vh / 46), 20px), 5px);
  --flag-width: calc(var(--cell-height) * 0.8);
  --flag-height: calc(var(--flag-width) * 0.75);
  --cell-padding-start: calc((var(--cell-height) - var(--flag-height)) / 2);
  --flag-team-gap: calc(0.15 * var(--cell-height));
  --flag-rotation-compensation: calc(
    (var(--flag-width) - var(--flag-height)) / 2
  );
}

.table {
  flex-shrink: 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px double rgb(128 128 128);
  font-size: max(10px, calc(var(--cell-height) * 0.6));

  th,
  td {
    border: 1px solid rgb(192 192 192);
  }

  > thead {
    > tr {
      > th {
        vertical-align: bottom;
        width: var(--cell-height);
        padding: var(--cell-padding-start) 0
          calc(var(--cell-padding-start) + var(--flag-rotation-compensation));
        border-bottom-color: rgb(128 128 128);

        &.hovered {
          background-color: rgb(0 0 0 / 0.1);
        }
      }
    }
  }

  > tbody {
    > tr {
      &:hover {
        background-color: rgb(0 0 0 / 0.1);
      }

      > td {
        &:first-child {
          height: var(--cell-height);
          padding: 0 var(--cell-padding-start);
        }

        &:not(:first-child) {
          text-align: center;

          &.match {
            animation: appear-light 1s ease-out normal forwards;
          }

          &.no-animation {
            animation: initial;
          }

          &.hovered {
            background-color: rgb(0 0 0 / 0.1);
          }
        }
      }
    }
  }
}

.header-cell-div {
  display: flex;
  gap: calc(var(--flag-team-gap) + var(--flag-rotation-compensation));
  align-items: center;
  width: 100%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: normal;
  transform: rotate(180deg);

  > img {
    width: var(--flag-width);
    transform: rotate(90deg);
    user-select: none;
    pointer-events: none;
  }
}

.team {
  padding-left: calc(var(--flag-width) + var(--flag-team-gap));
  white-space: nowrap;
  background-position-y: center;
  background-size: var(--flag-width);
  background-repeat: no-repeat;
}

@keyframes appear-light {
  from {
    background-color: rgb(255 255 0 / 0.5);
  }
}

.body-cell-matchday {
  transform: scaleX(1.25);
}
