@keyframes possible {
  from {
    background-color: light-dark(white, rgb(255 255 255 / 0.5));
    box-shadow: 0 0 20px light-dark(#08f, transparent);
  }
}

@keyframes appear {
  from {
    background-color: light-dark(rgb(255 255 0 / 0.5), rgb(192 224 255 / 0.5));
  }
}

.group-cell-base {
  &.possible {
    position: relative; /* enables glow */
    background-color: light-dark(white, rgb(255 255 255 / 0.3));
    box-shadow: 0 0 5px light-dark(#6af, transparent);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      animation: possible 1s ease;
      background-color: light-dark(white, rgb(255 255 255 / 0.3));
      box-shadow: 0 0 5px light-dark(#6af, transparent);
    }
  }

  &.picked {
    animation: appear 3s ease-out normal forwards;
  }
}
