.root {
  display: flex;
  flex-direction: column;
  margin: 16px;
  font-size: 14px;
}

.matrix-wrapper {
  display: flex;
  gap: 16px;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.picked-team-announcement {
  margin-top: 16px;
}

.selected-team {
  display: inline;
  margin-right: 0;
  font-size: 14px;
}

.opponent-list {
  margin-top: 8px;
}

.generate-schedule-button {
  margin-top: 16px;
  height: 28px;
  font-size: 16px;
  cursor: pointer;
}
