.list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
}

.grid-inner {
  overflow: hidden;
}

.item-content-inner {
  display: flex;
  margin: 2px 0;
  opacity: 0;
  font-size: 12px;
}

.content-with-flag {
  width: 120px;
}
