* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  color: light-dark(black, white);
  background-color: light-dark(transparent, #272a33);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

.page-root {
  display: flex;
  margin: auto;
  width: 1000px;

  @media (width <= 999px) {
    flex-direction: column;
    width: 100%;
  }
}

.tables-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px 10px;
  min-width: 65%;
}

.button-link {
  padding: initial;
  border: initial;
  background-color: initial;
}

.styled-link {
  color: light-dark(blue, #f70);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.v-hidden {
  visibility: hidden !important;
}
