* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  color: light-dark(black, white);
  background-color: light-dark(transparent, #272a33);
}

.styled-link {
  color: light-dark(blue, #f70);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.v-hidden {
  visibility: hidden !important;
}
