* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  color: light-dark(black, white);
  background-color: light-dark(transparent, #272a33);
}

.v-hidden {
  visibility: hidden !important;
}
