.root {
  width: 100%;
  container-type: inline-size;
}

.calendar-container {
  display: grid;
  gap: 16px;
  align-items: self-start;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;

  @container (width <= 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container (width <= 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.matchday-root {
  font-size: 12px;
}

.matchday-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  background-color: black;
  color: white;
  font-weight: 600;
}

.matchday-day {
  border: 1px solid light-dark(rgb(192 192 192), rgb(128 128 128));
  border-top: none;
}

.day-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: light-dark(rgb(240 240 240), rgb(48 48 48));
}

.match-item {
  display: flex;
  align-items: center;
  height: 20px;
  border-top: 1px solid light-dark(rgb(192 192 192), rgb(128 128 128));
}

.match-pair-center {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.match-pair-team {
  display: inline-block;
  min-width: var(--team-width);
}

.content-with-flag {
  display: inline;
}
